.b-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  
  .b-logo {
    display: flex;
    flex-direction: column; /* Stack the logos vertically */
    align-items: center;
    justify-content: center;
  }
  
  .b-logo .logo {
    max-width: 190px;
    height: auto;
  }
  
  .b-logo .brand-title {
    max-width: 190px;
    height: auto;
    margin-top: 15px; /* Space between logo and brand title */
  }
  