.placeholder-option option[disabled] {
    color: #aaa;
    /* Lighter placeholder look */
}

.radio-button {
    position: absolute;
    top: 11px;
    right: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 155px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.fixed-size-textarea {
    resize: none;
    overflow: hidden;
}
