/**  =====================
      Breadcrumbs & Pagination css start
==========================  **/
// Breadcrumbs

.breadcrumb {
  background-color: $theme-background;
  border-radius: 0;
}

.breadcrumb-item {
  + .breadcrumb-item {
    color: $button-color;
  }

  &.active {
    color: $theme-heading-color;
  }
}

// pagination

.page-item {
  &.active .page-link {
    color: $white;
    background-color:$button-color;
    border-color: $button-color;
  }
}
/**====== Breadcrumbs & Pagination css end ======**/
