.main_404 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    gap: 20px;
    margin: 0 auto;
}

.main_404 img.img-fluid {
    max-height: 600px;
    width: 100%;
    object-fit: contain;
}

.main_404 .btn {
    max-width: 300px;
    min-width: 150px;
}